# Data Preprocess
Data imports

In [2]:
import pandas as pd

Loading in data and giving it column names

In [21]:
df_fromgraduation = pd.read_csv("incubator_project_graduated_from_graduation.csv", header=None)
df_all = pd.read_csv("incubator_project_metrics_graduated_retired.csv", header=None)
df_bypassed = pd.read_csv("non_incubator_project_metrics.csv", header=None)

In [22]:
CSV_HEADERS = ['project',
                'COM-1', 'COM-3',
                'POP-4',
                'STA-1','STA-2',
                'STA-4','STA-5','STA-6','STA-7',
                'STA-10','STA-11','STA-12',
                'TEC-1','TEC-2.1','TEC-2.2','TEC-2.3','TEC-2.4','TEC-4','TEC-5',
                'SWQ-1',
                'SWQ-4.1','SWQ-4.2','SWQ-4.3','SWQ-4.4','SWQ-4.5','SWQ-4.6','SWQ-4.7',
                'init','end','frequency (weeks)',
                'project_url']

df_fromgraduation.columns = CSV_HEADERS
df_all.columns = CSV_HEADERS
df_bypassed.columns = CSV_HEADERS

In [29]:
df_fromgraduation.head(3)

,project,COM-1,COM-3,POP-4,STA-1,STA-2,STA-4,STA-5,STA-6,STA-7,...,SWQ-4.2,SWQ-4.3,SWQ-4.4,SWQ-4.5,SWQ-4.6,SWQ-4.7,init,end,frequency (weeks),project_url
0,ace,9788017.927576544,1579,77,2010-05-26 23:38:08,9,23,2,2,True,...,42,0,6,15,8.611501,235,2011-12-21,2020-06-17,12,https://github.com/apache/ace
1,apisix,901329.6034821316,27592,30442,2019-04-10 02:02:05,125,2452,-223,5,False,...,41,1,0,12,26.869675,415,2020-07-15,2024-07-12,12,https://github.com/apache/apisix
2,abdera,2938138.296738281,335,61,2009-05-21 03:21:27,34,25,1,2,True,...,40,1,0,2,9.878605,274,2008-11-08,2020-11-26,12,https://github.com/apache/abdera

In [27]:
df_all.head(3)

,project,COM-1,COM-3,POP-4,STA-1,STA-2,STA-4,STA-5,STA-6,STA-7,...,SWQ-4.2,SWQ-4.3,SWQ-4.4,SWQ-4.5,SWQ-4.6,SWQ-4.7,init,end,frequency (weeks),project_url
0,ace,9788017.927576544,644,77,2010-05-26 23:38:08,-15,23,0,2,True,...,42,0,6,15,8.611501,235,2009-04-24,2011-12-21,12,https://github.com/apache/ace
1,abdera,2938138.296738281,608,61,2009-05-21 03:21:27,286,25,0,2,True,...,40,1,0,2,9.878605,274,2006-06-06,2008-11-08,12,https://github.com/apache/abdera
2,airavata,6952636.983029673,1571,324,2014-01-29 08:00:06,-266,114,0,5,False,...,0,50,95,340,49.897383,323,2011-05-05,2012-09-19,12,https://github.com/apache/airavata

In [28]:
df_bypassed.head(3)

,project,COM-1,COM-3,POP-4,STA-1,STA-2,STA-4,STA-5,STA-6,STA-7,...,SWQ-4.2,SWQ-4.3,SWQ-4.4,SWQ-4.5,SWQ-4.6,SWQ-4.7,init,end,frequency (weeks),project_url
0,ant-antlibs-dotnet,Issues missing,Issues missing,17,2014-05-28 07:00:08,3,7,PRs missing,1,True,...,3,0,0,0,4.003813,60,2014-05-28,2019-05-26,12,https://github.com/apache/ant-antlibs-dotnet
1,ant,Issues missing,Issues missing,1256,2014-05-28 07:00:08,34,426,1,3,False,...,4,2,12,36,12.696530,217,2014-05-28,2024-08-18,12,https://github.com/apache/ant
2,ant-antlibs-antunit,Issues missing,Issues missing,30,2014-05-28 07:00:07,4,14,0,1,True,...,0,0,0,0,15.920826,38,2014-05-28,2022-02-13,12,https://github.com/apache/ant-antlibs-antunit

In [30]:
df_bypassed["status"] = "bypassed"

In [32]:
df_bypassed.head(3)

,project,COM-1,COM-3,POP-4,STA-1,STA-2,STA-4,STA-5,STA-6,STA-7,...,SWQ-4.3,SWQ-4.4,SWQ-4.5,SWQ-4.6,SWQ-4.7,init,end,frequency (weeks),project_url,status
0,ant-antlibs-dotnet,Issues missing,Issues missing,17,2014-05-28 07:00:08,3,7,PRs missing,1,True,...,0,0,0,4.003813,60,2014-05-28,2019-05-26,12,https://github.com/apache/ant-antlibs-dotnet,bypassed
1,ant,Issues missing,Issues missing,1256,2014-05-28 07:00:08,34,426,1,3,False,...,2,12,36,12.696530,217,2014-05-28,2024-08-18,12,https://github.com/apache/ant,bypassed
2,ant-antlibs-antunit,Issues missing,Issues missing,30,2014-05-28 07:00:07,4,14,0,1,True,...,0,0,0,15.920826,38,2014-05-28,2022-02-13,12,https://github.com/apache/ant-antlibs-antunit,bypassed

In [33]:
df_fromgraduation["status"] = "graduated"

In [35]:
df_fromgraduation.head(3)

,project,COM-1,COM-3,POP-4,STA-1,STA-2,STA-4,STA-5,STA-6,STA-7,...,SWQ-4.3,SWQ-4.4,SWQ-4.5,SWQ-4.6,SWQ-4.7,init,end,frequency (weeks),project_url,status
0,ace,9788017.927576544,1579,77,2010-05-26 23:38:08,9,23,2,2,True,...,0,6,15,8.611501,235,2011-12-21,2020-06-17,12,https://github.com/apache/ace,graduated
1,apisix,901329.6034821316,27592,30442,2019-04-10 02:02:05,125,2452,-223,5,False,...,1,0,12,26.869675,415,2020-07-15,2024-07-12,12,https://github.com/apache/apisix,graduated
2,abdera,2938138.296738281,335,61,2009-05-21 03:21:27,34,25,1,2,True,...,1,0,2,9.878605,274,2008-11-08,2020-11-26,12,https://github.com/apache/abdera,graduated

## Adding status column

In [36]:
df_all["status"] = df_all["project"].isin(df_fromgraduation["project"]).map({True: "graduated", False: "retired"})

In [37]:
df_all

,project,COM-1,COM-3,POP-4,STA-1,STA-2,STA-4,STA-5,STA-6,STA-7,...,SWQ-4.3,SWQ-4.4,SWQ-4.5,SWQ-4.6,SWQ-4.7,init,end,frequency (weeks),project_url,status
0,ace,9788017.927576544,644,77,2010-05-26 23:38:08,-15,23,0,2,True,...,0,6,15,8.611501,235,2009-04-24,2011-12-21,12,https://github.com/apache/ace,graduated
1,abdera,2938138.296738281,608,61,2009-05-21 03:21:27,286,25,0,2,True,...,1,0,2,9.878605,274,2006-06-06,2008-11-08,12,https://github.com/apache/abdera,graduated
2,airavata,6952636.983029673,1571,324,2014-01-29 08:00:06,-266,114,0,5,False,...,50,95,340,49.897383,323,2011-05-05,2012-09-19,12,https://github.com/apache/airavata,graduated
3,age,3819620.014249615,590,6087,2020-07-01 06:15:47,5,401,14,5,False,...,2,11,20,15.380107,279,2020-04-29,2022-05-18,12,https://github.com/apache/age,graduated
4,apisix,901329.6034821316,2035,30442,2019-04-10 02:02:05,-15,2452,29,5,False,...,1,0,12,26.869675,415,2019-10-17,2020-07-15,12,https://github.com/apache/apisix,graduated
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278,NetBeans,2133789.239591516,0,6027,2017-09-01 07:00:11,-241,835,159,2,False,...,50,523,1844,26.921600,2498,2016-10-01,2019-04-17,12,https://github.com/apache/NetBeans,graduated
279,openoffice,Issues missing,Issues missing,2158,2013-11-13 08:00:13,-1056,308,0,2,False,...,50,179,650,18.556351,2010,2011-06-13,2012-10-17,12,https://github.com/apache/openoffice,graduated
280,PLC4X,11618259.974489795,0,2796,2017-12-20 08:00:09,223,390,10,2,False,...,50,63,531,17.646239,5637,2017-12-18,2019-04-17,12,https://github.com/apache/PLC4X,graduated
281,ODFToolkit,Issues missing,Issues missing,94,2012-07-28 07:00:12,1014,24,0,1,True,...,2,17,23,63.752815,259,2011-08-01,2018-11-27,12,https://github.com/apache/ODFToolkit,retired
282,incubator-NuttX,1342959.747826087,2884,6071,2019-12-14 23:27:55,-222,1059,261,6,False,...,50,452,1230,36.079518,1513,2019-12-09,2022-11-17,12,https://github.com/apache/incubator-NuttX,graduated

In [40]:
df_retired = df_all[df_all["status"] == "retired"].copy()

In [42]:
df_combined = pd.concat([df_retired, df_bypassed, df_fromgraduation], ignore_index=True)

In [43]:
df_combined

,project,COM-1,COM-3,POP-4,STA-1,STA-2,STA-4,STA-5,STA-6,STA-7,...,SWQ-4.3,SWQ-4.4,SWQ-4.5,SWQ-4.6,SWQ-4.7,init,end,frequency (weeks),project_url,status
0,awf,307880.1031494253,775,217,2011-12-04 19:45:29,0,11,0,1,True,...,0,0,1,0.000000,574,2011-07-08,2012-09-16,12,https://github.com/valr/awf,retired
1,Agila-Theme,5486906.133333334,0,554,2016-02-12 16:10:05,0,50,0,1,True,...,0,8,0,87.263707,22,2004-09-29,2006-12-05,12,https://github.com/arvi/Agila-Theme,retired
2,SerializerTests,91721.18181818182,0,170,2017-04-13 19:06:57,0,22,0,1,False,...,0,0,1,11.027687,196,2010-09-21,2011-06-30,12,https://github.com/Alois-xx/SerializerTests,retired
3,incubator-retired-amaterasu,8753167.2676,123,139,2017-09-27 20:52:34,-73,27,-1,2,False,...,0,0,1,16.620933,154,2017-09-07,2019-09-18,12,https://github.com/apache/incubator-retired-am...,retired
4,incubator-ariatosca,2021894.153536083,1977,103,2016-08-28 07:00:07,15,47,-26,2,False,...,0,0,0,4.990767,85,2016-08-27,2018-07-01,12,https://github.com/apache/incubator-ariatosca,retired
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,jclouds,Issues missing,Issues missing,Repo info missing,Repo info missing,135,Repo info missing,PRs missing,3,False,...,4,1,16,11.556166,210,2013-10-16,2024-05-12,12,https://github.com/apache/jclouds,graduated
394,NetBeans,2133789.239591516,7325,6027,2017-09-01 07:00:11,17,835,-41,2,False,...,50,523,1844,26.921600,2498,2019-04-17,2024-07-16,12,https://github.com/apache/NetBeans,graduated
395,incubator-NuttX,1342959.747826087,2634,6071,2019-12-14 23:27:55,573,1059,-696,6,False,...,50,452,1230,36.079518,1513,2022-11-17,2024-07-18,12,https://github.com/apache/incubator-NuttX,graduated
396,openoffice,Issues missing,Issues missing,2158,2013-11-13 08:00:13,491,308,12,2,False,...,50,179,650,18.556351,2010,2012-10-17,2024-07-09,12,https://github.com/apache/openoffice,graduated
397,PLC4X,11618259.974489795,1203,2796,2017-12-20 08:00:09,-28,390,74,2,False,...,50,63,531,17.646239,5637,2019-04-17,2024-07-17,12,https://github.com/apache/PLC4X,graduated

## Type processing

In [46]:
df_combined["init"] = pd.to_datetime(df_combined["init"])
df_combined["end"] = pd.to_datetime(df_combined["end"])

In [47]:
df_combined.dtypes

project                      object
COM-1                        object
COM-3                        object
POP-4                        object
STA-1                        object
STA-2                        object
STA-4                        object
STA-5                        object
STA-6                         int64
STA-7                        object
STA-10                       object
STA-11                       object
STA-12                       object
TEC-1                        object
TEC-2.1                     float64
TEC-2.2                      object
TEC-2.3                     float64
TEC-2.4                      object
TEC-4                        object
TEC-5                        object
SWQ-1                        object
SWQ-4.1                     float64
SWQ-4.2                       int64
SWQ-4.3                       int64
SWQ-4.4                       int64
SWQ-4.5                       int64
SWQ-4.6                     float64
SWQ-4.7                       int64
init                 datetime64[ns]
end                  datetime64[ns]
frequency (weeks)             int64
project_url                  object
status                       object
dtype: object

In [49]:
df_combined["STA-1"] = (df_combined["end"] - df_combined["init"]).dt.days / 365.25

## Checking columns

In [51]:
pd.set_option('display.max_columns', None)
df_combined

,project,COM-1,COM-3,POP-4,STA-1,STA-2,STA-4,STA-5,STA-6,STA-7,STA-10,STA-11,STA-12,TEC-1,TEC-2.1,TEC-2.2,TEC-2.3,TEC-2.4,TEC-4,TEC-5,SWQ-1,SWQ-4.1,SWQ-4.2,SWQ-4.3,SWQ-4.4,SWQ-4.5,SWQ-4.6,SWQ-4.7,init,end,frequency (weeks),project_url,status
0,awf,307880.1031494253,775,217,1.193703,0,11,0,1,True,0,15,1,84,NaN,-1,NaN,27485,20,68,0.22739018087855298,0.00,0,0,0,1,0.000000,574,2011-07-08,2012-09-16,12,https://github.com/valr/awf,retired
1,Agila-Theme,5486906.133333334,0,554,2.182067,0,50,0,1,True,0,0,0,0,NaN,-1,NaN,793,20,10,0.0,0.00,0,0,8,0,87.263707,22,2004-09-29,2006-12-05,12,https://github.com/arvi/Agila-Theme,retired
2,SerializerTests,91721.18181818182,0,170,0.772074,0,22,0,1,False,0,0,0,0,NaN,-1,NaN,51166,22,81,0.0,0.00,2,0,0,1,11.027687,196,2010-09-21,2011-06-30,12,https://github.com/Alois-xx/SerializerTests,retired
3,incubator-retired-amaterasu,8753167.2676,123,139,2.028747,-73,27,-1,2,False,3,24,9,426,NaN,8382,NaN,65317,98,715,0.0023589963542783618,22.69,2,0,0,1,16.620933,154,2017-09-07,2019-09-18,12,https://github.com/apache/incubator-retired-am...,retired
4,incubator-ariatosca,2021894.153536083,1977,103,1.842574,15,47,-26,2,False,-5,46,14,13,NaN,76543,NaN,46687,39,166,0.05902578796561605,57.47,25,0,0,0,4.990767,85,2016-08-27,2018-07-01,12,https://github.com/apache/incubator-ariatosca,retired
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,jclouds,Issues missing,Issues missing,Repo info missing,10.570842,135,Repo info missing,PRs missing,3,False,-15,Commits or Issues or PRs missing,222,0,NaN,PRs missing,NaN,PRs missing,538,12101,Issues missing,79.03,12,4,1,16,11.556166,210,2013-10-16,2024-05-12,12,https://github.com/apache/jclouds,graduated
394,NetBeans,2133789.239591516,7325,6027,5.248460,17,835,-41,2,False,-19,417,194,5061,NaN,72166,NaN,5772,1584,10109,0.0033561969508432224,32.87,0,50,523,1844,26.921600,2498,2019-04-17,2024-07-16,12,https://github.com/apache/NetBeans,graduated
395,incubator-NuttX,1342959.747826087,2634,6071,1.667351,573,1059,-696,6,False,-13,377,197,2067,NaN,45510,NaN,67554,6816,46970,0.0,0.02,0,50,452,1230,36.079518,1513,2022-11-17,2024-07-18,12,https://github.com/apache/incubator-NuttX,graduated
396,openoffice,Issues missing,Issues missing,2158,11.726215,491,308,12,2,False,-16,Commits or Issues or PRs missing,87,4061,NaN,53896,NaN,34837,475,17091,Issues missing,5.69,0,50,179,650,18.556351,2010,2012-10-17,2024-07-09,12,https://github.com/apache/openoffice,graduated
397,PLC4X,11618259.974489795,1203,2796,5.251198,-28,390,74,2,False,1,119,78,3669,NaN,3940,NaN,72265,395,8525,0.0011259210199519828,18.03,0,50,63,531,17.646239,5637,2019-04-17,2024-07-17,12,https://github.com/apache/PLC4X,graduated

In [56]:
df_combined["TEC-2.3"].tolist()

[nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan]

In [44]:
df_combined.to_csv("all_projects.csv", index=False)