# Data Preprocess
## Set up

In [27]:
import pandas as pd
pd.options.display.max_columns = None

## Getting data
Loading in data and add correct column names

In [28]:
df_fromgraduation = pd.read_csv("incubator_project_graduated_from_graduation.csv", header=None)
df_all = pd.read_csv("incubator_project_metrics_graduated_retired.csv", header=None)
df_bypassed = pd.read_csv("non_incubator_project_metrics.csv", header=None)

In [29]:
CSV_HEADERS = ['project',
                'COM-1', 'COM-2',
                'POP-1',
                'STA-1','STA-2',
                'STA-3','STA-4','STA-5','STA-6',
                'STA-7','STA-8','STA-9',
                'TEC-1','TEC-2.1','TEC-2.2','TEC-2.3','TEC-2','TEC-3','TEC-4',
                'SWQ-1',
                'SWQ-2.1','SWQ-2.2','SWQ-2.3','SWQ-2.4','SWQ-2.5','SWQ-2.6','SWQ-2.7',
                'init','end','frequency (weeks)',
                'project_url']

df_fromgraduation.columns = CSV_HEADERS
df_all.columns = CSV_HEADERS
df_bypassed.columns = CSV_HEADERS

The columns: TEC-2.1, TECT-2.2 and TEC-2.3 are empty and/or removed from the paper.

In [30]:
df_fromgraduation = df_fromgraduation.drop(columns=["TEC-2.1",'TEC-2.2','TEC-2.3'])
df_all = df_all.drop(columns=["TEC-2.1",'TEC-2.2','TEC-2.3'])
df_bypassed = df_bypassed.drop(columns=["TEC-2.1",'TEC-2.2','TEC-2.3'])

Checking the 3 dataframes have the correct data and headers

In [31]:
df_fromgraduation.head(3)

,project,COM-1,COM-2,POP-1,STA-1,STA-2,STA-3,STA-4,STA-5,STA-6,STA-7,STA-8,STA-9,TEC-1,TEC-2,TEC-3,TEC-4,SWQ-1,SWQ-2.1,SWQ-2.2,SWQ-2.3,SWQ-2.4,SWQ-2.5,SWQ-2.6,SWQ-2.7,init,end,frequency (weeks),project_url
0,ace,9788017.927576544,1579,77,2010-05-26 23:38:08,9,23,2,2,True,-4,67,10,0,4022,19,1858,0.0010720897460694647,19.66,42,0,6,15,8.611501,235,2011-12-21,2020-06-17,12,https://github.com/apache/ace
1,apisix,901329.6034821316,27592,30442,2019-04-10 02:02:05,125,2452,-223,5,False,-15,1044,383,2413,67462,2162,2406,0.009605313577723847,7.48,41,1,0,12,26.869675,415,2020-07-15,2024-07-12,12,https://github.com/apache/apisix
2,abdera,2938138.296738281,335,61,2009-05-21 03:21:27,34,25,1,2,True,-2,121,11,0,26165,35,1611,0.017543859649122806,55.18,40,1,0,2,9.878605,274,2008-11-08,2020-11-26,12,https://github.com/apache/abdera

In [32]:
df_all.head(3)

,project,COM-1,COM-2,POP-1,STA-1,STA-2,STA-3,STA-4,STA-5,STA-6,STA-7,STA-8,STA-9,TEC-1,TEC-2,TEC-3,TEC-4,SWQ-1,SWQ-2.1,SWQ-2.2,SWQ-2.3,SWQ-2.4,SWQ-2.5,SWQ-2.6,SWQ-2.7,init,end,frequency (weeks),project_url
0,ace,9788017.927576544,644,77,2010-05-26 23:38:08,-15,23,0,2,True,1,40,4,0,4022,19,1858,0.0010720897460694647,19.66,42,0,6,15,8.611501,235,2009-04-24,2011-12-21,12,https://github.com/apache/ace
1,abdera,2938138.296738281,608,61,2009-05-21 03:21:27,286,25,0,2,True,0,76,5,0,26165,35,1611,0.017543859649122806,55.18,40,1,0,2,9.878605,274,2006-06-06,2008-11-08,12,https://github.com/apache/abdera
2,airavata,6952636.983029673,1571,324,2014-01-29 08:00:06,-266,114,0,5,False,3,61,3,1112,46472,303,10526,0.015394894854222536,2.27,0,50,95,340,49.897383,323,2011-05-05,2012-09-19,12,https://github.com/apache/airavata

In [33]:
df_bypassed.head(3)

,project,COM-1,COM-2,POP-1,STA-1,STA-2,STA-3,STA-4,STA-5,STA-6,STA-7,STA-8,STA-9,TEC-1,TEC-2,TEC-3,TEC-4,SWQ-1,SWQ-2.1,SWQ-2.2,SWQ-2.3,SWQ-2.4,SWQ-2.5,SWQ-2.6,SWQ-2.7,init,end,frequency (weeks),project_url
0,ant-antlibs-dotnet,Issues missing,Issues missing,17,2014-05-28 07:00:08,3,7,PRs missing,1,True,-2,Commits or Issues or PRs missing,1,0,PRs missing,0,103,Issues missing,47.69,3,0,0,0,4.003813,60,2014-05-28,2019-05-26,12,https://github.com/apache/ant-antlibs-dotnet
1,ant,Issues missing,Issues missing,1256,2014-05-28 07:00:08,34,426,1,3,False,-2,Commits or Issues or PRs missing,81,1,3047,192,17094,Issues missing,25.15,4,2,12,36,12.696530,217,2014-05-28,2024-08-18,12,https://github.com/apache/ant
2,ant-antlibs-antunit,Issues missing,Issues missing,30,2014-05-28 07:00:07,4,14,0,1,True,-2,Commits or Issues or PRs missing,6,0,23109,0,247,Issues missing,25.40,0,0,0,0,15.920826,38,2014-05-28,2022-02-13,12,https://github.com/apache/ant-antlibs-antunit

## Adding status column

- Bypassed = Sustainable
- Graduated = Sustainable
- project is in all but not in "graduated" = Unsustainable

In [34]:
df_bypassed["status"] = "sustainable"
df_fromgraduation["status"] = "sustainable"

In [35]:
df_all["status"] = df_all["project"].isin(df_fromgraduation["project"]).map({True: "sustainable", False: "unsustainable"})
df_retired = df_all[df_all["status"] == "unsustainable"].copy()

Now we have the following dataframes:
- df_bypassed: bypassed projects (sustainable)
- df_fromgraduation: graduated projects (sustainable)
- df_retired: retired projects (unsustainable)

We combine all the dataframes to one for further processing:

In [36]:
df_combined = pd.concat([df_retired,df_bypassed, df_fromgraduation], ignore_index=True)

## Type processing

In [37]:
df_combined.dtypes

project               object
COM-1                 object
COM-2                 object
POP-1                 object
STA-1                 object
STA-2                 object
STA-3                 object
STA-4                 object
STA-5                  int64
STA-6                 object
STA-7                 object
STA-8                 object
STA-9                 object
TEC-1                 object
TEC-2                 object
TEC-3                 object
TEC-4                 object
SWQ-1                 object
SWQ-2.1              float64
SWQ-2.2                int64
SWQ-2.3                int64
SWQ-2.4                int64
SWQ-2.5                int64
SWQ-2.6              float64
SWQ-2.7                int64
init                  object
end                   object
frequency (weeks)      int64
project_url           object
status                object
dtype: object

Change "init" and "end" columns to datatime datatype

In [38]:
df_combined["init"] = pd.to_datetime(df_combined["init"])
df_combined["end"] = pd.to_datetime(df_combined["end"])

## Data Clean up

### STA-1

STA-1 should contain information about how long the project has been running. But the column only has a single date. Since we have "init" and "end" we can change this date our with the number of days between init and end.

In [39]:
df_combined["STA-1"]

0      2011-12-04 19:45:29
1      2016-02-12 16:10:05
2      2017-04-13 19:06:57
3      2017-09-27 20:52:34
4      2016-08-28 07:00:07
              ...
393      Repo info missing
394    2017-09-01 07:00:11
395    2019-12-14 23:27:55
396    2013-11-13 08:00:13
397    2017-12-20 08:00:09
Name: STA-1, Length: 398, dtype: object

In [40]:
df_combined["STA-1"] = (df_combined["end"] - df_combined["init"]).dt.days / 365.25

## Missing Data
Some of the projects are missing data, with some cells noted as "missing" in the dataframe. After discussion with supervisor it was decided to remove projects with missing data from the analysis.

In [45]:
count_missing = df_combined.apply(lambda row: row.astype(str).str.contains('missing', case=False, na=False).any(), axis=1).sum()

print(f"Number of rows containing 'missing': {count_missing}")

Number of rows containing 'missing': 56

In [46]:
df_combined = df_combined[~df_combined.apply(lambda row: row.astype(str).str.contains('missing', case=False, na=False).any(), axis=1)]


Checking for NaN values:

In [48]:
df_combined[df_combined.isna().any(axis=1)]

,project,COM-1,COM-2,POP-1,STA-1,STA-2,STA-3,STA-4,STA-5,STA-6,STA-7,STA-8,STA-9,TEC-1,TEC-2,TEC-3,TEC-4,SWQ-1,SWQ-2.1,SWQ-2.2,SWQ-2.3,SWQ-2.4,SWQ-2.5,SWQ-2.6,SWQ-2.7,init,end,frequency (weeks),project_url,status
161,velocity-master,12298566.348089265,196,4,4.388775,-2,2,0,1,True,0,44,1,0,60337,2,81,11.68,0.00,0,0,0,0,NaN,0,2020-04-02,2024-08-22,12,https://github.com/apache/velocity-master,sustainable
213,cordova,1748916.7862903227,1151,1264,11.723477,0,62,0,1,True,0,73,11,2,36686,24,25,0.0,0.00,0,0,0,0,NaN,0,2012-10-17,2024-07-08,12,https://github.com/apache/cordova,sustainable
237,Felix,5142729.431256367,25233,896,17.273101,310,322,0,2,False,-7,1365,60,0,69377,2303,35027,0.038252949699855106,0.00,0,0,0,0,NaN,0,2007-04-01,2024-07-09,12,https://github.com/apache/Felix,sustainable
346,Sling,2693158.6690781005,42692,698,15.159480,1065,260,0,1,False,-8,810,53,0,81086,3266,46606,0.053478048667115995,0.00,0,0,0,0,NaN,0,2009-06-17,2024-08-14,12,https://github.com/apache/Sling,sustainable
389,streams,NaN,18,197,6.672142,19,47,-18,1,False,-1,14,9,884,52879,230,1804,0.0,27.44,33,0,2,1,31.996976,112,2017-07-19,2024-03-21,12,https://github.com/apache/streams,sustainable

In [49]:
df_combined = df_combined.dropna()

In [50]:
df_combined

,project,COM-1,COM-2,POP-1,STA-1,STA-2,STA-3,STA-4,STA-5,STA-6,STA-7,STA-8,STA-9,TEC-1,TEC-2,TEC-3,TEC-4,SWQ-1,SWQ-2.1,SWQ-2.2,SWQ-2.3,SWQ-2.4,SWQ-2.5,SWQ-2.6,SWQ-2.7,init,end,frequency (weeks),project_url,status
0,awf,307880.1031494253,775,217,1.193703,0,11,0,1,True,0,15,1,84,27485,20,68,0.22739018087855298,0.00,0,0,0,1,0.000000,574,2011-07-08,2012-09-16,12,https://github.com/valr/awf,unsustainable
1,Agila-Theme,5486906.133333334,0,554,2.182067,0,50,0,1,True,0,0,0,0,793,20,10,0.0,0.00,0,0,8,0,87.263707,22,2004-09-29,2006-12-05,12,https://github.com/arvi/Agila-Theme,unsustainable
2,SerializerTests,91721.18181818182,0,170,0.772074,0,22,0,1,False,0,0,0,0,51166,22,81,0.0,0.00,2,0,0,1,11.027687,196,2010-09-21,2011-06-30,12,https://github.com/Alois-xx/SerializerTests,unsustainable
3,incubator-retired-amaterasu,8753167.2676,123,139,2.028747,-73,27,-1,2,False,3,24,9,426,65317,98,715,0.0023589963542783618,22.69,2,0,0,1,16.620933,154,2017-09-07,2019-09-18,12,https://github.com/apache/incubator-retired-am...,unsustainable
4,incubator-ariatosca,2021894.153536083,1977,103,1.842574,15,47,-26,2,False,-5,46,14,13,46687,39,166,0.05902578796561605,57.47,25,0,0,0,4.990767,85,2016-08-27,2018-07-01,12,https://github.com/apache/incubator-ariatosca,unsustainable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
387,Flink,4324400.851542074,150989,60172,9.579740,273,13102,70,16,False,56,4721,1628,12851,7828,6925,40618,0.017610098391586823,113.40,0,21,65,214,14.329816,436,2014-12-17,2024-07-16,12,https://github.com/apache/Flink,sustainable
388,Pulsar,5351959.264741484,28047,31473,5.828884,-433,3537,-358,12,False,18,1231,649,7279,64666,3295,17031,0.015899818366024405,98.41,0,5,42,109,11.537613,327,2018-09-19,2024-07-18,12,https://github.com/apache/Pulsar,sustainable
394,NetBeans,2133789.239591516,7325,6027,5.248460,17,835,-41,2,False,-19,417,194,5061,5772,1584,10109,0.0033561969508432224,32.87,0,50,523,1844,26.921600,2498,2019-04-17,2024-07-16,12,https://github.com/apache/NetBeans,sustainable
395,incubator-NuttX,1342959.747826087,2634,6071,1.667351,573,1059,-696,6,False,-13,377,197,2067,67554,6816,46970,0.0,0.02,0,50,452,1230,36.079518,1513,2022-11-17,2024-07-18,12,https://github.com/apache/incubator-NuttX,sustainable
397,PLC4X,11618259.974489795,1203,2796,5.251198,-28,390,74,2,False,1,119,78,3669,72265,395,8525,0.0011259210199519828,18.03,0,50,63,531,17.646239,5637,2019-04-17,2024-07-17,12,https://github.com/apache/PLC4X,sustainable

# Saving the cleaned data to CSV

In [51]:
df_combined.to_csv("all_projects.csv", index=False)